body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(1, 1, 10);
}

.container {
    text-align: center;
    background:rgb(63, 132, 142);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.qr-reader {
    width: 300px;
    margin: 0 auto;
}

.qr-result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.qr-code-demo {
    margin-top: 20px;
}

.qr-code-demo img {
    margin-top: 10px;
}

#upload-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: green;
    color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#upload-btn:disabled {
    background-color: #cccccc;
}

.uploaded-image-container {
    margin-top: 20px;
}

.upload-message {
    font-size: 16px;
    color: green;
}

.qr-code-demo img {
    margin-top: 10px;
    max-width: 200px; /* Adjust the value to decrease the maximum width */
    height:auto;
}
.html{
    background-color:green ;
}
