/* :root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  } */
  @import url('https://fonts.googleapis.com/css?family=Poppins:500,600,700,800,900&display=swap');

  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }

  
  
  .main-container {
    position: relative;
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
    /* background: #b794e4; */
    background: linear-gradient(243.4deg, rgb(0, 215, 206) 13%, rgb(0, 132, 255) 98%);
    overflow: hidden;
  }
  .flex-column-bd {
    position: relative;
    width: 642px;
    height: 838px;
    margin: 102px 0 0 399px;
    font-size: 0px;
    z-index: 24;
    overflow: visible auto;
  }
  .your-tasks {
    display: block;
    position: relative;
    height: 58px;
    margin: 0 0 0 65px;
    color: #000000;
    font-family:"Poppins",sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    text-align: left;
    white-space: nowrap;
    z-index: 24;
  }
  .rectangle {
    position: relative;
    width: 642px;
    height: 747px;
    margin: 33px 0 0 0;
    background: rgba(217, 217, 217, 0.5);
    border: 1px solid #000000;
    z-index: 10;
    border-radius: 41px;
  }
  .flex-column-a {
    position: absolute;
    width: 505px;
    height: 637px;
    top: 31px;
    left: 106px;
    font-size: 0px;
    z-index: 23;
  }
  .drop-off-center {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 401px;
    height: 58px;
    margin: 0 0 0 0;
    color: #000000;
    font-family:"Poppins",sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 29.045px;
    text-align: left;
    z-index: 17;
  }
  .e-waste-collection-point {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 394px;
    height: 58px;
    margin: 26px 0 0 0;
    color: #000000;
    font-family:"Poppins",sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 29.045px;
    text-align: left;
    z-index: 18;
  }
  .e-waste-facility {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 477px;
    height: 58px;
    margin: 33px 0 0 0;
    color: #000000;
    font-family:"Poppins",sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 29.045px;
    text-align: left;
    z-index: 19;
  }
  .recycling-bin {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 417px;
    height: 58px;
    margin: 36px 0 0 0;
    color: #000000;
    font-family:"Poppins",sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 29.045px;
    text-align: left;
    z-index: 20;
  }
  .recycling-station {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 333px;
    height: 58px;
    margin: 38px 0 0 0;
    color: #000000;
    font-family:"Poppins",sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 29.045px;
    text-align: left;
    z-index: 21;
  }
  .printer-cartridge-recycling {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 392px;
    height: 58px;
    margin: 42px 0 0 0;
    color: #000000;
    font-family:"Poppins",sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 29.045px;
    text-align: left;
    z-index: 22;
  }
  .charity-thrift-store {
    display: block;
    position: relative;
    height: 29px;
    margin: 44px 0 0 0;
    color: #000000;
    font-family:"Poppins",sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    white-space: nowrap;
    z-index: 23;
  }
  .flex-column-ee {
    position: absolute;
    width: 40px;
    height: 641px;
    top: 36px;
    left: 44px;
    z-index: 25;
  }
  .rectangle-1 {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 0 0 0 0;
    background: rgba(217, 217, 217, 0.5);
    border: 1px solid #000000;
    z-index: 11;
    border-radius: 5px;
  }
  .rectangle-2 {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 51px 0 0 0;
    background: rgba(217, 217, 217, 0.5);
    border: 1px solid #000000;
    z-index: 16;
    border-radius: 5px;
  }
  .rectangle-3 {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 55px 0 0 0;
    background: rgba(217, 217, 217, 0.5);
    border: 1px solid #000000;
    z-index: 25;
    border-radius: 5px;
  }
  .rectangle-4 {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 60px 0 0 0;
    background: rgba(217, 217, 217, 0.5);
    border: 1px solid #000000;
    z-index: 15;
    border-radius: 5px;
  }
  .rectangle-5 {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 72px 0 0 0;
    background: rgba(217, 217, 217, 0.5);
    border: 1px solid #000000;
    z-index: 14;
    border-radius: 5px;
  }
  .rectangle-6 {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 67px 0 0 0;
    background: rgba(217, 217, 217, 0.5);
    border: 1px solid #000000;
    z-index: 13;
    border-radius: 5px;
  }
  .rectangle-7 {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 56px 0 0 0;
    background: rgba(217, 217, 217, 0.5);
    border: 1px solid #000000;
    z-index: 12;
    border-radius: 5px;
  }
  .valley-land-horizon {
    display: flex;
    position: absolute;
    width: 2040px;
    height: 2040px;
    top: 0;
    left: 0;
    background: url(./assets/images/bc4af0a741849be5cd1d2f255d1ee271cf2a608d.png)
      no-repeat center;
    background-image: fill;
    background-size: cover;
    opacity: 0.7;
  }

  
  .pix {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 77px;
    top: 17px;
    left: 39px;
    /* color: #000000; */
    font-family:"Poppins",sans-serif;
    /* font-size: 64px; */
    /* font-weight: 800; */
    line-height: 77px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
    color: #002431;
    font-weight: 800;
    font-size: 2.5em;
    text-decoration: none;
  }
  .vector {
    position: absolute;
    width: 43px;
    height: 47.466px;
    top: 28px;
    left: 1242px;
    background: url(./assets/images/9b529a93-a1e0-403f-97d7-0b7ea5bb9233.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 3;
  }
  .flex-column-bb {
    position: absolute;
    width: 4.1%;
    height: 4.33%;
    top: 3.02%;
    left: 91.46%;
    z-index: 8;
}
.vector-8 {
  position: relative;
  width: 59px;
  height: 5.787px;
  margin: 0 0 0 0;
  background: url(./assets/images/8544cc1f-e4a8-460b-ac25-bf86c8e8a9a0.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 6;
}
.vector-9 {
  position: relative;
  width: 59px;
  height: 5.787px;
  margin: 13.504px 0 0 0;
  background: url(./assets/images/eb59d62f-180d-4f71-9bb2-2dc5fa43b08e.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 7;
}
.vector-a {
  position: relative;
  width: 59px;
  height: 5.787px;
  margin: 13.504px 0 0 0;
  background: url(./assets/images/03c6a448-fd8c-4017-92cb-d5b98520c380.png)
    no-repeat center;
  background-size: 100% 100%;
z-index:8;
}
